
#login h1::before {
	content: "";
	display: block;
	width: 84px;
	height: 84px;
	background: transparent url(login-cua.svg) no-repeat center;
	margin: 0 auto 25px;
}

#login h1 a {
	display: none;
}

