
/* ==========================================================================
   Formulaire Ninja Forms
   ========================================================================== */

.entry-content {
   	& .ninja-forms-form-wrap {
   		font-size: 0.9em;

   		& input,
   		& select{
   			background-color: #eee;
   			border: none;
   			border-radius: 0;
   			font-size: 16px;
   			color: #797979;
   			height: 40px;
   			padding: 0px 16px;
   			box-sizing: border-box;
   		}

   		& select{
   			width: 100% !important;
   			height: 40px !important;
   			border-radius: 0;
   			appearance: none;
   			background: #eee url(../img/form-select.png) no-repeat center right 20px;
   		}

   		& input[type="button"] {
   			padding: 10px 20px;
   			border-radius: 5px;
   			color: #fff;
   			cursor: pointer;
   			text-transform: uppercase;
   			transition: background 0.15s ease-in;

   			&:hover {
   				background: #000;
   				transition: background 0.25s ease-in;
   			}
   		}
   	}

   	& textarea.ninja-forms-field{
   		background-color: #eee;
   		border: none;
   		border-radius: 0;
   		font-size: 16px;
   		color: #797979 ;
   		padding: 16px;
   		box-sizing: border-box;
   	}

   	& *[id^='nf_submit_'] > .ninja-forms-field {
   		float: right;
   		width: 150px;
   		color: #1e73be !important;
   		margin: 8px auto 0;
   		cursor: pointer;
   		font-size: 20px;
   		font-weight: 500;
   		border-radius: 3px;
   		padding: 6px 20px;
   		line-height: 1.7em;
   		background: transparent;
   		border: 2px solid;
   		transition: all 0.2s;
   	}

   	& *[id^='nf_submit_'] > .ninja-forms-field:hover {
   		background-color: #eee;
   		border-color:#eee;
   		padding: 6px 20px !important;
   		width: 170px;
   	}

   	& .file_upload-wrap {
   		& .nf-field-element {
   			display: flex;
   			justify-content: flex-start;
   			flex-wrap: wrap;

   			& .progress {
   				width: 70%;
   				align-self: center;
   			}

   			& .files_uploaded {
   				width: 100%;
   				color: #797979;

   				& .delete {
   					margin-left: 20px;
   				}
   			}
   		}
   	}

   	& .fileinput-button {
   		background-color: #eee;
   		padding: 8px 14px;
   		border-radius: 5px;
   		color: #797979;

   		& + input.nf-element {
   			display: none;
   		}
   	}

   	& .ninja-forms-req-symbol {
   		color: #797979;
   	}

   	& .nf-form-fields-required {
   		font-size: 0.9em;
   		color: #797979;
   		margin-bottom: 20px;
   	}

   	& .nf-form-title h3 {
   		display: none;
   	}
}

