
/* ==========================================================================
   Cookie
   ========================================================================== */

.cookie-infos {
	display: none;
	z-index: 10000;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;

	font-size: 0.9em;

	&.visible {
		display: block;
	}

	&__wrap.wrap {
		position: relative;
		padding: 16px 20px;
		box-sizing: border-box;

		background: color(var(--cookie_bg) alpha(-5%));

		text-align: center;
	}

	&__wrap.clear {
		clear: both;
	}

	&__texte {
		box-sizing: border-box;

		text-align: left;
		color: var(--cookie_txt);

		line-height: 1.5em;

		& a {
			display: inline-block;
			position: relative;
			padding: 1px 5px;

			color: var(--cookie_txt);
			text-decoration: underline;

			&:hover {
				background: var(--cookie_txt);

				color: var(--cookie_bg);
				text-decoration: none;
			}
		}
	}

	&__button {
		display: inline-block;
		padding: 8px 10px;

		border: var(--cookie_txt) 2px solid;
		background: var(--cookie_bg);

		font-size: 1.1em;
		font-weight: 800;
		color: var(--cookie_txt);

		border-radius: 5px;

		&:hover {
			background: var(--cookie_txt);

			color: var(--cookie_bg);
		}
	}
}