
/* ==========================================================================
   Global
   ========================================================================== */

.of {
	& img {
		object-fit: cover;
		object-position: 50% 50%;
		width: 100%;
		height: 100%;
	}
}

.of-fallback {
	background-size: cover;
	background-position: center;

	& img {
		opacity: 0 !important;
	}
}

.alignleft {
	float: left;
    margin: 10px 25px 10px 0px;
}

.alignright {
	float: right;
	margin: 10px 0px 10px 25px;
}

.aligncenter {
	display: block;
	margin: 25px auto;
}