* {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
}

.sidebar,
#navigation,
#header-region,
#search-theme-form,
#footer,
.breadcrumb,
.tabs,
.feed-icon,
.links {
    display: none;
}

#page { width: 100%; }

#content,
#content #content-inner,
.content,
.title {
    margin: .5cm 0;
    width: auto;
}

a {
    &:hover, &:active, &:link, &:visited {
        color: $text-color;
    }
}

thead {
    display: table-header-group;
}

tr, img {
    page-break-inside: avoid;
}

img {
    max-width: 100% !important;
}

@page {
    margin: 0.5cm;
}

p, h2, h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}

// CSS2 selector to add visible href after links.
#content a {
    &:link:after, &:visited:after {
        content: " (" attr(href) ") ";
        font-size: 0.8em;
        font-weight: normal;
    }
}
