:root {
	/* COLOURS */
	/* Semantic */
	--neutre:        #f5f5f5;
	--info:          #49afcd;
	--attention:     #faa732;
	--erreur:        #da4f49;
	--text-color:    #414141;

	/* FONTS */
	/* Generic stacks */
	--ss-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--s-stack:  'Times New Roman', Times, serif;

	/* Specific stacks */
	
	/* Cookie */
	--cookie_bg: #000;
	--cookie_txt: #fff;
}